---
const sections = [
    { label: "Home", path: "/" },
    { label: "Goals", path: "/goals" },
    { label: "Community", path: "/community" },
    { label: "Meet the team", path: "/team" },
    { label: "Get involved", path: "/get-involved" },
    { label: "Events", path: "/events" },
    { label: "Frequently Asked Questions", path: "/faqs" },
]
const currentPath = Astro.url.pathname
const { title } = Astro.props;
---
<header>
    <nav>
        <div><a href="/">Zebrafish toxicology Phenotype Atlas Project</a></div>

        <ul>
        {sections.map(({ label, path }) =>
        <li class={ currentPath === path ? "selected" : "" }>
            <a href={path}>{label}</a>
        </li>
        )}
        </ul>
    </nav>
    <h1>{title}</h1>
</header>

<style>
    header {
        background: rgba(33,33,33,1);
    }

    h1 {
        font-size: 4rem;
        font-weight: normal;
        text-align: center;
        padding: 2rem 0;
    }

    a {
        color: #ccc;
        text-decoration: none;
    }

    h1,
    li.selected a {
        color: white;
    }

    nav {
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    nav ul li a {
        display: inline-block;
        padding: .5rem 1rem;
    }
    nav ul li a:hover {
        background-color: #333;
    }

</style>
